@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Black.woff2) format("woff2"),url(../fonts/Roboto-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"),url(../fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.woff2) format("woff2"),url(../fonts/Roboto-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Light.woff2) format("woff2"),url(../fonts/Roboto-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"),url(../fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Thin.woff2) format("woff2"),url(../fonts/Roboto-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 290px
}
body {
  color: #000;
  line-height: 1;
  font-family: Roboto;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports(overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 114.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,112.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.portfolio__parallax {
  position: relative;
  left: 0;
  top: 4.0625rem;
  right: 0
}
.portfolio__parallax .portfolio__layer {
  z-index: -1;
  position: absolute
}
.portfolio__parallax .layer-img-1 {
  padding-top: 4.5%;
  left: 14%
}
.portfolio__parallax .layer-img-1 img {
  max-width: 35rem;
  margin-left: 25.3125rem
}
.portfolio__parallax .layer-img-2 {
  padding-top: 5%;
  left: 8%
}
.portfolio__parallax .layer-img-2 img {
  max-width: 35rem;
  margin-left: 27.1875rem
}
.portfolio {
  background: rgba(243,198,75,.151);
  height: auto
}
.portfolio .portfolio__block {
  max-width: 81.25rem;
  margin: 0 auto
}
.portfolio .portfolio__block .portfolio__block-title {
  padding-top: 10.625rem;
  text-align: center;
  margin-bottom: 3.125rem
}
.portfolio .portfolio__block .portfolio__block-title h2 {
  opacity: 0;
  font-weight: 900;
  color: #395291;
  text-transform: uppercase
}
@media(min-width:114.375em) {
  .portfolio .portfolio__block .portfolio__block-title h2 {
    font-size: 3.75rem
  }
}
@media(min-width:18.125em)and (max-width:114.375em) {
  .portfolio .portfolio__block .portfolio__block-title h2 {
    font-size: clamp(2.8125rem ,2.6359577922rem + .974025974vw ,3.75rem)
  }
}
@media(max-width:18.125em) {
  .portfolio .portfolio__block .portfolio__block-title h2 {
    font-size: 2.8125rem
  }
}
.portfolio .portfolio__block .portfolio__block-item {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  justify-content: center;
  padding-bottom: 4.375rem
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left {
  max-width: 40.625rem;
  display: flex;
  box-shadow: 0 0 1.875rem rgba(0,0,0,.26);
  background: #fdf6e3;
  border-radius: .25rem;
  row-gap: .625rem;
  margin: 0 -.9375rem;
  min-height: 100%;
  overflow: hidden;
  justify-content: center;
  opacity: 0;
  -webkit-transform: translate(0,12%);
  transform: translate(0,12%);
  transition: all 1s ease 1s
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all .5s ease .5s
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-img-1 {
  padding: .5rem;
  flex: 0 1 33.333%;
  align-self: center
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-img-1 a:hover {
  -webkit-filter: brightness(85%);
  filter: brightness(85%)
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-img-1 .portfolio-img-lincs .portfolio-images {
  -o-object-fit: cover;
  object-fit: cover;
  margin: .4375rem;
  border-radius: .5rem
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  width: 18.75rem
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text .portfolio-text-title {
  margin-bottom: 1.25rem;
  text-align: center
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text .portfolio-text-title h3 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #adadad;
  text-transform: capitalize;
  margin-bottom: .9375rem;
  flex-grow: 1
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text .portfolio-text-item {
  font-size: 1.25rem;
  color: #bbb;
  flex: 1 1 auto;
  margin-bottom: 1.5625rem
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text .portfolio-linc {
  color: #ffba00;
  font-weight: 600;
  font-size: 1.375rem;
  align-self: flex-start;
  text-decoration: none;
  margin-top: .625rem;
  margin-bottom: .9375rem
}
.portfolio .portfolio__block .portfolio__block-item .portfolio__block-item-left .portfolio-text .portfolio-linc:hover {
  color: #f90
}
@media(max-width:44.375rem) {
  .portfolio__block-item-left {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
  }
  .portfolio__block-item-left .portfolio-img-lincs {
    padding-bottom: 0
  }
  .portfolio-images {
    align-self: center
  }
  .portfolio-text {
    margin: 0 auto
  }
}
.album-container {
  margin-bottom: 2.8125rem
}
.skills__text {
  max-width: 75rem;
  margin: 0 auto;
  font-size: 1.625rem
}
.skills__text p {
  color: #adadad
}
.skills__text .skills__text-link {
  font-weight: 600;
  color: #a8a8a8
}
.skills__title {
  text-align: center;
  margin: 3.125rem 0 1.875rem 0
}
.skills__title h3 {
  font-size: 1.625rem;
  font-weight: 900;
  color: #979797;
  text-transform: uppercase
}
.skills__icon {
  display: flex;
  flex-wrap: wrap;
  max-width: 55rem;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  opacity: 0;
  transition: all .5s ease
}
.skills__icon-item {
  margin: 0 .375rem .75rem .375rem;
  box-shadow: .0625rem .0625rem .3125rem .0625rem rgba(19,19,19,.425)
}
.skills__icon-active {
  opacity: 1
}
@media(max-width:103.125rem) {
  .name-resume {
    display: flex;
    justify-content: center;
    margin: 11.25rem 0 0 0
  }
  .wraper-name {
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
    align-content: center
  }
  .wraper-name h1 {
    margin-top: .375rem
  }
  .wraper-name .foto-resume {
    margin-bottom: 1.25rem
  }
  .wraper-name .foto-resume img {
    margin: 0 auto
  }
  .circel__wrap .circel__wrap-top {
    margin-top: -.875rem;
    margin-left: -2.5rem
  }
}
@media(max-width:66.25rem) {
  .header__wrap-ul {
    left: 45%
  }
  .header__wrap-social-block {
    margin-right: 2.5rem
  }
  .header__wrap-social-block a {
    margin-right: -1.375rem
  }
}
@media(max-width:59.6875rem) {
  .circel__wrap {
    max-width: 19.8125rem
  }
  .circel__wrap-top {
    top: -1.25rem;
    left: -1.25rem
  }
  .wraper-name .foto-resume img {
    margin: 0 auto
  }
}
.menu__icon {
  margin-left: -26%;
  margin-top: .9375rem
}
@media(max-width:52.5rem) {
  .header__menu-wrap {
    transition: all .3s;
    position: absolute;
    left: -100%;
    top: -.625rem;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(24,38,75,.973);
    transition: left .3s ease 0s
  }
  .menu-open .header__menu-wrap {
    left: 0
  }
  .header__menu-wrap .header__wrap-ul {
    display: block;
    margin-top: 5.625rem;
    text-align: center;
    height: 100vh
  }
  .header__menu-wrap .header__wrap-item {
    color: #fff;
    font-weight: 300;
    display: block
  }
  .header__menu-wrap .header__wrap-social {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
  }
  .header__menu-wrap .header__wrap-item {
    color: #ffba00
  }
  .active-menu {
    margin-left: 0;
    transition: all .3s;
    margin-top: .25rem
  }
  #contact {
    background-clip: content-box
  }
  .header__wrap-social-block {
    text-align: center;
    margin-right: 21.875rem
  }
}
@media(max-width:41.875rem) {
  .skills__text {
    font-size: 1.375rem
  }
  .portfolio .portfolio__block-title h2 {
    font-size: 2.8125rem
  }
  .portfolio-text-item {
    width: 13.75rem
  }
}
@media(max-width:82.5rem) {
  .portfolio .portfolio__block .portfolio__block-title h2 {
    opacity: 1
  }
  .portfolio__parallax .layer-img-1 {
    display: none
  }
  .portfolio__parallax .layer-img-2 {
    display: none
  }
}
@media(max-width:31.25rem) {
  h1 {
    font-size: 3.125rem;
    padding-top: 0
  }
  .text-resume {
    font-size: 2.375rem
  }
  .header__text-item {
    font-size: 1.5rem
  }
  .header__wrap-social-block {
    margin-right: 6.25rem
  }
  .header__wrap-social-block a {
    margin-right: -1.375rem
  }
  .anime__title {
    width: 17.5rem;
    height: 3.75rem
  }
  .anime__title-surname {
    width: 20rem;
    height: 3.75rem
  }
}
@media(max-width:28.4375rem) {
  .circel__wrap-top {
    display: none
  }
  .portfolio-images {
    width: 15.625rem
  }
}
.album-wrapper .album-container {
  overflow: hidden
}
.album-inner span {
  float: left;
  width: 50%
}
.album-wrapper .album-block {
  height: 9.375rem;
  width: 105.3125rem;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 1.25rem auto;
  padding: 1.875rem 0
}
.album-inner {
  display: block;
  width: 200%;
  position: absolute
}
.album-inner.to-left {
  -webkit-animation: albumLeft 25s linear infinite;
  animation: albumLeft 25s linear infinite
}
.album-inner.to-right {
  -webkit-animation: albumRight 25s linear infinite;
  animation: albumRight 25s linear infinite
}
.album-item {
  width: 5rem;
  height: auto;
  display: inline-block;
  margin: .75rem 3.3125rem;
  float: left;
  transition: all .2s ease-out;
  box-shadow: 1.875rem -.5625rem .625rem 0 rgba(0,0,0,.25)
}
@-webkit-keyframes albumLeft {
  0% {
    left: 0
  }
  100% {
    left: -100%
  }
}
@keyframes albumLeft {
  0% {
    left: 0
  }
  100% {
    left: -100%
  }
}
@-webkit-keyframes albumRight {
  0% {
    left: -100%
  }
  100% {
    left: 0
  }
}
@keyframes albumRight {
  0% {
    left: -100%
  }
  100% {
    left: 0
  }
}
html.lenis,
html.lenis body {
  height: auto
}
.lenis.lenis-smooth {
  scroll-behavior: auto!important
}
.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain
}
.lenis.lenis-stopped {
  overflow: hidden
}
.lenis.lenis-smooth iframe {
  pointer-events: none
}
.icon-menu {
  display: none
}
@media(max-width:52.5rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #ffba00
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
.foto-resume {
  -webkit-animation: rotate-vert-center 1.3s cubic-bezier(.455,.03,.515,.955) both;
  animation: rotate-vert-center 1.3s cubic-bezier(.455,.03,.515,.955) both
}
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
}
@media(max-width:52.5em) {
  .header__wrap-ul li .header__wrap-items {
    font-size: 2.1875rem;
    margin-bottom: 2.1875rem
  }
}
.icon-menu {
  display: none
}
@media(max-width:52.5rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #ffba00
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
header {
  background: url(../img/img-bg.jpg) no-repeat center center;
  background-size: cover;
  margin-top: -5rem;
  padding-top: 5rem
}
.resume-logo img {
  width: 3.4375rem;
  height: 3.5625rem
}
.header__wrap {
  background-color: #172136;
  padding: .25rem 0;
  width: 100%;
  border-bottom: .0625rem solid #b6b6b6;
  z-index: 30;
  position: absolute
}
.header__wrap._header-scroll {
  position: fixed;
  top: -200%
}
.header__wrap._header-show {
  transition: top .3s ease 0s;
  top: 0
}
.header__wrap-menu {
  display: flex;
  justify-content: space-between
}
.header__menu-wrap {
  margin-top: .625rem
}
.header__wrap-item {
  color: #ffba00;
  padding: 1.25rem;
  font-size: 1.1875rem;
  font-weight: 100
}
.header__menu-burger {
  left: 90%;
  top: 1.5625rem;
  position: relative;
  width: 3.125rem;
  height: 2.5rem;
  z-index: 20;
  display: none
}
.header__menu-burger span {
  background-color: #ffba00;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 100%;
  height: .5rem;
  border-radius: .625rem;
  transition: all .3s ease 0s
}
.header__menu-burger::after,
.header__menu-burger::before {
  content: "";
  background-color: #ffba00;
  position: absolute;
  width: 100%;
  height: .125rem;
  transition: all .3s ease 0s
}
.header__menu-burger::before {
  top: 0;
  height: .5rem;
  border-radius: .625rem
}
.header__menu-burger::after {
  bottom: 0;
  height: .5rem;
  border-radius: .625rem
}
.header__menu-burger.active::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: .9375rem
}
.header__menu-burger.active::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 1.0625rem
}
.header__menu-burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.foto-resume {
  -webkit-animation: rotate-vert-center 1.3s cubic-bezier(.455,.03,.515,.955) both;
  animation: rotate-vert-center 1.3s cubic-bezier(.455,.03,.515,.955) both
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
}
.foto-resume img {
  width: 17.5rem;
  border-radius: 50%;
  margin-right: 2.5rem;
  margin-top: .9375rem;
  box-shadow: .0625rem .3125rem 2.375rem .625rem #000
}
h1 {
  margin-top: 6.6875rem;
  margin-bottom: .625rem;
  padding-top: 3.75rem;
  color: #fff;
  font-weight: 900;
  font-size: 4.6875rem;
  text-transform: uppercase;
  text-shadow: .0625rem .0625rem .125rem #000,.5rem .5rem .5rem #000
}
.text-resume {
  color: #06ff6e;
  text-shadow: #06ff6e .0625rem 0 3.75rem;
  font-weight: 100;
  padding-bottom: oRem(60t);
  text-transform: capitalize;
  margin-left: -300%;
  -webkit-animation-name: titleAnimate;
  animation-name: titleAnimate;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
  animation-timing-function: cubic-bezier(.65,1.95,.03,.32)
}
@media(min-width:114.375em) {
  .text-resume {
    font-size: 3.25rem
  }
}
@media(min-width:18.125em)and (max-width:114.375em) {
  .text-resume {
    font-size: clamp(2.1875rem ,1.9874188312rem + 1.1038961039vw ,3.25rem)
  }
}
@media(max-width:18.125em) {
  .text-resume {
    font-size: 2.1875rem
  }
}
@-webkit-keyframes titleAnimate {
  0% {
    margin-left: -120%
  }
  50% {
    margin-left: 0
  }
  68% {
    opacity: 1
  }
  70% {
    opacity: 0
  }
  75% {
    opacity: 1
  }
  77% {
    opacity: 0
  }
  78% {
    opacity: 1
  }
  90% {
    opacity: 0
  }
  95% {
    opacity: 1
  }
  100% {
    margin-left: 0
  }
}
@keyframes titleAnimate {
  0% {
    margin-left: -120%
  }
  50% {
    margin-left: 0
  }
  68% {
    opacity: 1
  }
  70% {
    opacity: 0
  }
  75% {
    opacity: 1
  }
  77% {
    opacity: 0
  }
  78% {
    opacity: 1
  }
  90% {
    opacity: 0
  }
  95% {
    opacity: 1
  }
  100% {
    margin-left: 0
  }
}
.name-resume {
  margin: 9.375rem 9.375rem 3.125rem 9.375rem
}
.name-resume .wraper-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 5.625rem;
  align-items: center
}
.header__text-block {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #d4d4d4;
  text-shadow: .0625rem .0625rem .125rem #000,.3125rem .3125rem .75rem #000;
  margin-bottom: 5%
}
.header__text-block .header__text-item {
  margin-bottom: 1.5625rem
}
.header__arrov-item {
  color: #fff
}
.header__arrov-wrap {
  height: 4.375rem;
  text-align: center;
  font-size: 1.375rem;
  text-shadow: .0625rem .0625rem .125rem #000,0 .0625rem .125rem #050831;
  padding-bottom: 11.25rem
}
.arrov-bottom {
  margin-top: -.3125rem;
  -webkit-animation-name: arrovBottom;
  animation-name: arrovBottom;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
@-webkit-keyframes arrovBottom {
  0% {
    padding-bottom: 0
  }
  100% {
    padding-top: .625rem
  }
}
@keyframes arrovBottom {
  0% {
    padding-bottom: 0
  }
  100% {
    padding-top: .625rem
  }
}
.arrov-top {
  margin-top: -.3125rem;
  -webkit-animation-name: arrovTop;
  animation-name: arrovTop;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
@-webkit-keyframes arrovTop {
  0% {
    padding-bottom: 0
  }
  100% {
    padding-top: .625rem
  }
}
@keyframes arrovTop {
  0% {
    padding-bottom: 0
  }
  100% {
    padding-top: .625rem
  }
}
.fa-chevron-down {
  font-size: 1.875rem
}
.header__wrap-social {
  width: 9.625rem
}
.header__wrap-social-block {
  display: flex;
  margin-top: -.375rem
}
.anime__title {
  opacity: 0;
  overflow: visible
}
.anime__title-path {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
@-webkit-keyframes svgpath {
  100% {
    stroke-dashoffset: 0
  }
}
@keyframes svgpath {
  100% {
    stroke-dashoffset: 0
  }
}
.anime__title-surname {
  opacity: 0;
  overflow: visible
}
.anime__path-surname {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
@-webkit-keyframes svgpathsurname {
  100% {
    stroke-dashoffset: 0
  }
}
@keyframes svgpathsurname {
  100% {
    stroke-dashoffset: 0
  }
}
.header__wrap-ul {
  display: flex
}
.header__wrap-ul li {
  list-style: none;
  margin-bottom: 20px
}
.header__wrap-ul li .header__wrap-items {
  position: relative;
  display: block;
  margin: 0 .25rem;
  padding: .3125rem .625rem;
  font-weight: 300;
  color: #ffba00;
  font-size: 1.1875rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  overflow: hidden
}
@media(max-width:em(840)) {
  .header__wrap-ul li .header__wrap-items {
    font-size: 2.1875rem;
    margin-bottom: 2.1875rem
  }
}
.header__wrap-ul li .header__wrap-items::before {
  content: "";
  position: absolute;
  top: calc(50% - .125rem);
  left: -100%;
  width: 100%;
  height: .25rem;
  background: #ffba00;
  transition: .5s
}
.header__wrap-ul li .header__wrap-items:hover {
  color: #fff
}
.header__wrap-ul li .header__wrap-items:hover::before {
  -webkit-animation: animate .5s linear forwards;
  animation: animate .5s linear forwards
}
@-webkit-keyframes animate {
  0% {
    top: calc(50% - .125rem);
    left: -100%;
    height: .25rem;
    z-index: 1
  }
  50% {
    top: calc(50% - .125rem);
    left: 0;
    height: .25rem;
    z-index: 1
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1
  }
}
@keyframes animate {
  0% {
    top: calc(50% - .125rem);
    left: -100%;
    height: .25rem;
    z-index: 1
  }
  50% {
    top: calc(50% - .125rem);
    left: 0;
    height: .25rem;
    z-index: 1
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1
  }
}
.circel__wrap {
  position: relative
}
.circel__wrap .circel__wrap-top {
  position: absolute;
  top: -.3125rem;
  left: 1.1875rem
}
.circel__wrap .circel__wrap-top .circle-imges {
  width: 20rem;
  -webkit-animation: circleanime 20s linear infinite;
  animation: circleanime 20s linear infinite
}
@-webkit-keyframes circleanime {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes circleanime {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.lang-link {
  width: 8.75rem;
  font-weight: 300;
  color: #ffba00;
  font-size: 1.1875rem;
  padding: .9375rem 0
}
.footer__block {
  background: #181b25;
  height: auto
}
.footer__block .footer__block-one,
.footer__block .footer__block-two {
  width: 19.875rem
}
.footer__block .footer__block-title {
  color: #fff;
  padding: 1.875rem 0 1.25rem 0;
  font-size: 2.25rem;
  text-align: center;
  transition: all .5s ease;
  opacity: 0
}
.footer__block .footer__block-title-activ {
  opacity: 1
}
.footer__block .footer__block-contact i {
  color: #d88c00;
  width: 2.5rem;
  margin-bottom: 1.25rem
}
.footer__block .footer__block-contact i:hover {
  color: #ad5d02
}
.footer__block .footer__block-contact a {
  color: #fff;
  font-size: 1.375rem
}
.footer__block .footer-txt {
  font-size: 1.375rem;
  color: #fff
}
.footer__block .footer__block-contact a:hover {
  color: #b3b3b3
}
.footer__block .footer__block-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3.125rem
}
.footer__copyright {
  height: auto;
  background: #000
}
.footer__copyright .footer__copyright-title {
  text-align: center;
  color: #8d8d8d;
  padding: 1.25rem
}
.circle-txt {
  position: absolute;
  top: -21.0625rem
}
.wraper_img-circle {
  position: relative;
  top: -2.5rem
}
.circle-img {
  position: absolute;
  width: 15.625rem;
  bottom: 2.5rem;
  -webkit-animation: circleanime 20s linear infinite;
  animation: circleanime 20s linear infinite
}
@keyframes circleanime {
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}